.main-container {
    border-radius: 5%;
    background-color: #ADD8C7;
    display: flex;
    justify-content: center;
    height: 100%;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    padding: 5% 0;

}
.form-group{
    width: 30%;
    margin-right: 2%;
}
form{
    display: flex;
    margin-bottom: 5%;
}
.btn{
    display: flex;
    width: 10%;
    height: 20%;
}

